.ant-modal-content {
  background: rgba(255, 222, 194, 0.9) !important;
}

.ant-form-item-required {
  font-family: var(--montserrat-font);
  font-size: 18px;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 1) !important;
}

.swiper-pagination-bullet-active {
  background: #F27273 !important;
}

.ant-input-search-button {
  background: #F27273 !important;
}
